.project {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }
  
  .project:last-child {
    margin-bottom: 0;
  }
  
  .thumbnail {
    flex: 0 0 250px;
    width: 250px;
    height: auto;
    margin: 0;
  }
  
  .description {
    flex: 1;
    margin-left: 18px;
    padding: 12px;
  }
  
  .projectname {
    margin: 0 0 12px 0;
    padding: 0;
  }
  
  .info {
    margin: 0;
  }

  img{
    float: right;
    height: 300px;
    width: auto;;
  }

 div {
    overflow: auto;
  }